<div class="grid mt-2 container">
    <div class="col-12">
        <div class="field grid p-fluid">
            <div class="col-12 bcrumb">
                <p><strong>Operadores Arbitrales</strong> - {{labelInstitution}}</p>
            </div>
            <div class="col-12">
                <div class="field grid p-fluid">
                    <div class="col-12 md:col-9 sm:col-12 field grid p-fluid justify-content-start mr-0 ml-3">
                        <div class="field grid">
                            
                            <div class="field grid col-12 md:col-3 sm:col-12 mr-2">
                                <label for="search2" class="block ml-3 search_label">RUC:</label>
                                <input type="text" id="search2" pInputText placeholder="Ingresar" maxlength="11"
                                    [(ngModel)]="rucABuscar" (keydown)="onKeySoloNumeros($event)">
                            </div>
                            <div class="field grid col-12 md:col-3 sm:col-12 mr-2">
                                <label for="search1" class="block ml-3 search_label">Razón Social:</label>
                                <input type="text" id="search1" pInputText placeholder="Ingresar"
                                    [(ngModel)]="nombreABuscar">
                            </div> 
                            <div
                                class="field grid col-6 md:col-3 sm:col-6 align-content-end justify-content-center mr-2">
                                <button pButton pRipple type="button" label="Buscar" icon="pi pi-search" iconPos="left"
                                    class="p-button-rounded" (click)="search(null,2)"></button></div>
                            <div class="field grid col-6 md:col-3 sm:col-6 align-content-end"><button pButton pRipple
                                    type="button" label="Limpiar" icon="pi pi-trash" iconPos="left"
                                    class="p-button-outlined p-button-rounded mr-0" (click)="cleanFields()"></button>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 md:col-3 sm:col-12 field grid p-fluid justify-content-end">
                        <div class="col-12 md:col-9 sm:col-12 grid align-content-center">
                            <p-button (click)="new()" label="Nuevo Registro" icon="pi pi-plus" iconPos="left"></p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <p-table #dt [value]="institutionList" responsiveLayout="scroll" [rows]="cantidadPorPagina" [paginator]="true"
                        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Vista del {first} al {last} de {totalRecords} vistas"
                        [rowHover]="true" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col">RUC</th>
                                <th scope="col">RAZÓN SOCIAL</th>
                                <th scope="col">DIRECCIÓN</th>
                                <th scope="col">TELEFONO</th>
                                <th scope="col">E-MAIL</th>
                                <th scope="col">ACCIONES</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-institution let-rowIndex="rowIndex">
                            <tr>
                                <td>
                                    <p>{{institution.ruc}}</p>
                                </td>
                                <td>
                                    <p>{{institution.razonSocial}}</p>
                                </td>
                                <td>
                                    <p>{{institution.direccion}}</p>
                                </td>
                                <td>
                                    <p>{{institution.telefono}}</p>
                                </td>
                                <td>
                                    <p>{{institution.correo}}</p>
                                </td>
                                <td style="text-align: center !important;width: 182px;">
                                    <a pButton pRipple icon="pi pi-pencil" class="mr-2 opt-btn opt-btn-success"
                                        pTooltip="Editar"
                                        (click)="edit(institution.institucionId)"></a>
                                    <a pButton pRipple icon="pi pi-eye" class="mr-2 opt-btn opt-btn-search"
                                        pTooltip="Ver"
                                        (click)="see(institution.institucionId)"></a>
                                    <a pButton pRipple icon="pi pi-trash" class="opt-btn opt-btn-danger"
                                        pTooltip="Eliminar" (click)="delete(institution.institucionId)"></a>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No se encontraron resultados</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="deleteDialog" header="Eliminar Registro" [modal]="true" [style]="{width:'628px'}" [resizable]="false">
    <ng-template pTemplate="content">
        <div class="flex align-items-center justify-content-center">
            <p class="delete_msg">¿Desea eliminar el registro elegido?</p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="field grid p-fluid">
            <div class="col-6">
                <div class="flex justify-content-center">
                    <button pButton pRipple type="button" label="Si" class="p-button-rounded" (click)="deleteRecord()"></button>
                </div>
            </div>
            <div class="col-6">
                <div class="flex justify-content-center">
                    <button pButton pRipple type="button" label="No" class="p-button-outlined p-button-rounded" (click)="deleteDialog = false"></button>
                </div>
            </div>
        </div>        
    </ng-template>
</p-dialog>

<p-toast key="toast" [baseZIndex]="99999"></p-toast>

<p-toast key="warn" [baseZIndex]="99999">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <em class="pi pi-exclamation-triangle" style="font-size: 3rem"></em>
                <h5>{{message.summary}}</h5>
                <ul>
                    <em *ngFor="let item of message.detail">{{item}}</em>
                </ul>
            </div>
        </div>
    </ng-template>
</p-toast>