<div style="overflow-x: hidden;  height: 100%;">
    <centro-arbitraje-header-external isLauncher="1"></centro-arbitraje-header-external>  
    <div class="col-12 md:mt-8 sm:mt-10">
        <div class="flex align-content-center justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center border-round m-2"><p>Bienvenido</p></div>
        </div>
    </div>
    <div class="col-12">
        <div class="flex align-content-center justify-content-center flex-wrap">
            <a href="javascript:void(0)" (click)="goHome()">
                <div class="card flex align-items-center justify-content-center border-round m-2">Sistema de Arbitraje Popular</div>
            </a>
        </div>
    </div>
    <div class="col-12">
        <div class="flex align-content-center justify-content-center flex-wrap">
            <a href="javascript:void(0)">
                <div class="card flex align-items-center justify-content-center border-round m-2">Sistema de Registro Nacional de Árbitros y Centro de Arbitraje - RENACE</div>
            </a>
        </div>
    </div>
    <centro-arbitraje-footer-external></centro-arbitraje-footer-external>
<div>
